@using Boonker.Data.Models;
@model CreateAuthorViewModel;
@{
    ViewData["Title"] = "Insert";
}
<br>
<h1>View</h1>

@using (Html.BeginForm("CreateAuthor", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-check">
    <div class="form-group" style="color: white;">
        <label>FirstName</label>
        @Html.TextBoxFor(x => x.Author.FirstName, new { @class = "form-control", @id = "exampleInputEmail1" })
    </div>
    <div class="form-group" style="color: white;">
        <label>LastName</label>
        @Html.TextBoxFor(x => x.Author.LastName, new { @class = "form-control", @id = "exampleInputEmail1" })
    </div>
    <div class="form-group" style="color: white;">
        <label>Description</label>
        @Html.TextAreaFor(x => x.Author.DSCR, new { @class = "form-control", @id = "exampleInputEmail1" })
    </div>
    <div class="form-group" style="color: white;">
        <label>Image</label>
        @Html.TextBoxFor(x => x.Image, new { @type = "file", @class = "form-control", @id = "exampleInputEmail1" })
        <p style="color:red">@Html.ValidationMessageFor(model => model.Image)</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</div>
}