@using Boonker.Data;
@model ViewBasketOf

<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Basket List of @User.Identity.Name</em> Right Now</h4>
        </div>
        @{
            if (Model.AllBasketBooks != null)
            {
                foreach (var book in Model.AllBasketBooks)
                {
                    <div class="item">
                        <ul>
                            @*<li><img src="~/assets/images/game-01.jpg" alt="" class="templatemo-item"></li>*@
                            <li><a href="/Books/Book/@book.Book.Id"><span>@book.Book.Title</span></a></li>
                            <li><span>Price</span><h4>@book.Book.Price.ToString("c")</h4></li>
                            <li><span>Views</span><h4>@book.Book.Views</h4></li>
                            <li><span>Date</span><h4>@book.Date.ToString()</h4></li>
                            <li><span>Amount</span><h4>@book.AmountOf</h4></li>
                            <li><span>Sum</span><h4>@(@book.AmountOf * @book.Book.Price) </h4></li>
                            <li>
                                <div class="form-group">
                                    <a href="@Url.Action("DeleteGood", "Basket", new { @bookId=@book.Book.Id})" class="btn btn-danger">Delete</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            }
            else
            {
                <span>Basket list is empty</span>
            }
        }

        <div class="col-lg-12">
            <div class="main-button">
                <a href="@Url.Action("List", "Books")">Also books</a>
            </div>
        </div>
    </div>
</div>

